# Ignore IDE and editor folders
.idea/
.vscode/

# Ignore the DOCUMENTS folder inside PYTHON
PYTHON/DOCUMENTS/

# Ignore the SUBMISSIONS folder inside PYTHON
PYTHON/SUBMISSIONS

# Ignore other common system files
*.DS_Store
Thumbs.db

# Ignore code testing environment files

PYTHON/CTE.py

# Ingore CSV files
PYTHON/IN-CLASS/7-MAY-2025/industry.csv
